body{
    background-color: aliceblue;
}
#input{
   width: 1000px;
    height: 40px;
    font-size: 20px;
    background-color: #124567;
    color: #ffff00;
    border-radius: 10px;
    padding-left: 10px;
}
span{
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}
button{
    width: 80px;
    height: 50px;
    background-color: #ffff00;
    color: #124567;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20px;
}
div{
    padding: 10px;
}
#result{
    padding-right: 20px;
    font-weight: bold;
    font-size: 40px;
}